/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

$pink: #ea0e84;
$blue: #00bff2;
$black: #333333;
$gray: #454545;
$green: #00a347;
$white: #efefef;

// @font-face{
//   font-family: 'ostrich';
//   src: url('../assets/font/ostrich-black.ttf');
// }
//
@font-face{
  font-family: 'myriad';
  src: url('../assets/font/MyriadPro-Regular.otf');
}

@font-face{
  font-family: 'myriad';
  src: url('../assets/font/MyriadPro-Bold.otf');
  font-weight:bold;
}

@font-face{
  font-family: 'avenir';
  src: url('../assets/font/Avenir.ttc');
}

body{
  background: $white;
  overflow-x: hidden;
}

.x{
  overflow-y:hidden;
}

#bt{
  width:100vw;
  height:40px;
  background:$white;
  position:fixed;
  z-index:100;
  top:0;
}

#bb{
  width:100vw;
  height:40px;
  background:$white;
  position:fixed;
  z-index:100;
  bottom:0;
}

#bl{
  height:100vh;
  width:40px;
  background:$white;
  position:fixed;
  z-index:100;
  left:0;
  top:0;
}

#br{
  height:100vh;
  width:100vw;
  background:$black;
  position:fixed;
  z-index:100;
  right:-100vw;
  top:0;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

#phone{
  background-image:url('../assets/img/flatphone.png');
  background-size:contain;
  height: 601px;
  width:300px;
  position:absolute;
  z-index:110;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.shut{
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -ms-transform: translate(-100vw,0); /* IE 9 */
  -webkit-transform: translate(-100vw,0); /* Safari */
  transform:translate(-100vw, 0);
}

.hide{
  display:none;
}

#chat{
  height:100vh;
  width:100vw;
  background-image: url('../assets/img/dots.png');
  background-size:cover;
  overflow-y:hidden;
}

#back{
  height: 50px;
  position: absolute;
  top: 50px;
  left: 35px;
  cursor: pointer;
}

#content-wrapper{
  display:table;
  height:100vh;
  width:100vw;
  font-family:'myriad';
  position:relative;
  z-index:10;
}

#side{
  display:table;
  width:55vh;
  position:relative;
  z-index:110;
}

#logo{
  width: 175px;
  margin: 70px;
  position:absolute;
}

#camera{
  position:relative;
  margin-bottom:10px;
}

#learn-more{
  display:table-cell;
  vertical-align:middle;
  padding-top: 42vh;
  height:100vh;
}

.lt{
  font-family:'avenir';
  font-size:2em;
  width:122%;
  margin-left:80px;
  color: $white;
}

.blur{
  background-image: url('../assets/img/cancer.jpg');
  background-size:cover;
  z-index:0;
  position:absolute;
  top:0;
  height:100vh;
  width:100vw;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.angle{
  height: 100vh;
  width: 200vw;
  background: $black;
  position: absolute;
  top: 50vh;
  z-index: 1;
  transform: rotate(8deg);
  left: -50vw;
}

.inv{
  display: block;
  margin:38px auto 0;
  background: transparent;
  border: 2px solid $white;
  color: $white;
  padding: 10px 20px;
  font-size: 1.2em;
  z-index:200;
  position:relative;
  &:focus{
    outline:none;
  }
}

.slider{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  img{
    height:600px;
  }
}


#how{
  margin-top:300px;
  img{
    width:100%;
  }
}

#recent{
  font: bold 2em/1.5em 'avenir';
  padding-top:300px;
  text-transform: uppercase;
  position:relative;
  z-index:10;
  h2{
    position: absolute;
    left: 4%;
    font-size: 2em;
  }
  img{
    width:100%;
  }
}

.swiper-container {
    width: 1000px;
    height: 600px;
}

.swiper-pagination-bullet{
  height:50px;
  border-radius:0;
  background:transparent;
  opacity: 1;
  width:auto;
  font: bold 'avenir';
}

.swiper-container-vertical>.swiper-pagination-bullets{
  left: 10px;
  margin: -5px;
  width: 21%;
  text-align: left;
  .swiper-pagination-bullet{
    background-size: 200% 100%;
    background-image: linear-gradient(to right, $pink 50%, transparent 50%);
    background-position:right;
    -webkit-transition: background-position 1s;
    transition: background-position 1s;
    &:hover{
      background-position:left;
    }
  }
  .swiper-pagination-bullet-active{
    -webkit-transition: background-position 1s;
    transition: background-position 1s;
    background-position: left;
    text-decoration: underline;
  }
}

.swiper-container{
  padding-left:80px;
}

.angle2{
  height: 80vh;
  width: 200vw;
  background: rgba(201,233,225, 0.8);
  position: absolute;
  top: 160vh;
  z-index: 1;
  transform: rotate(-8deg);
  left: -50vw;
}
