/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$pink: #ea0e84;
$blue: #00bff2;
$black: #333333;
$gray: #454545;
$green: #00a347;
$white: #eeeeee;

@font-face{
  font-family: 'ostrich';
  src: url('../assets/font/ostrich-black.ttf');
}

@font-face{
  font-family: 'cicle';
  src: url('../assets/font/cicle-fina.ttf');
}

@font-face{
  font-family: 'cicle';
  src: url('../assets/font/cicle-bold.ttf');
  font-weight:bold;
}

body{
  overflow-x: hidden;
}

#hero{
  background-image: url('../assets/img/cancer.jpg');
  background-size: cover;
  background-position: center center;
  height: 85vh;
  text-align:center;
  position:relative;
  button{
    position:relative;
    top:65vh;
    height: 75px;
    width: 250px;
    font-family: 'ostrich';
    background: $pink;
    color:#eaf4f3;
    font-size:1.8em;
    border:none;
    line-height: 2.8;
    box-shadow: 4px 4px $black;
    @include transition-duration(1s);
    &:focus{
      outline:none;
    }
    &:hover{
      height:100px;
      width:300px;
      font-size:2.5em;
      background: $blue;
      box-shadow: 8px 8px $black;
      @include transition-duration(1s);
    }
  }
  nav{
    position:absolute;
    right:50px;
    top:25px;
    background:transparent;
    box-shadow:none;
    border:none;
    width:50px;
    span{
      display: block;
      position: absolute;
      height: 5px;
      width: 50px;
      background: $black;
      opacity: 1;
      right:0;
    }
    span:before, span:after{
      position:absolute;
      content: '';
      display:block;
      width:50px;
      height:5px;
      background: $black;
      top:10px;
      left: 0;
    }
    span:before{
      top:20px;
    }
  }
  #logo{
    font-size: 8em;
    font-family: 'ostrich';
    position: absolute;
    top: 25px;
    left: 50px;
    img{
      height:200px;
    }
  }
}

#menu{
  background: $black;
  color:$white;
  font-family:'cicle';
  position:absolute;
  right:0;
  top:50px;
  display:none;
  padding:20px;
  li{
    a{
      color:$white;
      font-size:2em;
      &:hover{
        text-decoration:none;
      }
    }
    &:first-child{
      padding-bottom:20px;
    }
  }
}

#insp{
  height: 17vh;
  background: $black;
  color: $white;
  display:table;
  h2{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    font-family: 'ostrich';
    font-size: 1.7em;
    padding: 20px;
  }
  em{
    color: $pink;
  }
}

.pw{
  height: 42.5vh;
}

.f{
  background-image: url('../assets/img/tcancer.jpg');
  background-size:cover;
  background-position: center bottom;
  background-color:lavender;
}

.s{
  background-image: url('../assets/img/charity.jpg');
  background-size:cover;
}

.t{
  background-image: url('../assets/img/hero.png');
  background-size:cover;
}

#rproj{
  position:relative;
  .rw{
    z-index:10;
    width:100%;
    text-align:center;
    position:relative;
    height:32.5vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    h3{
      font-size: 20em;
      font-family: 'ostrich';
      span{
        text-shadow: 4px 4px $white;
      }
    }
    @include transition-duration(1s);
    // &:hover{
    //   @include transition-duration(1s);
    //   span{
    //     display:none;
    //     @include transition-duration(1s);
    //     padding: 0 200px;
    //   }
    //   &:after{
    //     @include transition-duration(1s);
    //     content: 'Join Now';
    //     font-size: 20em;
    //     font-family: 'ostrich';
    //     padding: 0 50px;
    //   }
    // }
    .go{
      color:$green;
      text-shadow: 4px 4px $black;
      cursor: pointer;
    }
  }
}

// .svg{
//   height: 233px;
//   #join{
//     visibility:hidden;
//   }
// }

#about{
  height:100vh;
  background: $white;
  h2{
    font-size:10em;
    font-family: 'ostrich';
    position: relative;
    left: 50px;
    top: 25px;
    margin-bottom:20px;
  }
  .info{
    font-family: 'cicle';
    margin-top: 50px;
    p{
      padding: 25px 20px;
      font-size: 4em;
      font-weight:bold;
      color:$black;
    }
  }
  .cta{
    text-align:center;
    margin-top:50px;
    button{
      height: 75px;
      width: 250px;
      font-family: 'ostrich';
      background: $pink;
      color:#eaf4f3;
      font-size:1.8em;
      border:none;
      line-height: 2.8;
      box-shadow: 4px 4px $black;
      @include transition-duration(1s);
      &:focus{
        outline:none;
      }
      &:hover{
        height:100px;
        width:300px;
        font-size:2.5em;
        background: $blue;
        box-shadow: 8px 8px $black;
        @include transition-duration(1s);
      }
    }
  }
}

@media only screen and (max-width: 772px) {
  #hero #logo{
    left:25px;
    img{
      height: 100px;
    }
  }

  #hero nav{
    right:25px;
  }

  #tit{
    display:none;
  }
  #about .info p{
    font-size:1.4em;
  }
}
