/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'myriad';
  src: url("../assets/font/MyriadPro-Regular.otf");
}
@font-face {
  font-family: 'myriad';
  src: url("../assets/font/MyriadPro-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: 'avenir';
  src: url("../assets/font/Avenir.ttc");
}
/* line 36, ../sass/screen.scss */
html {
  overflow: hidden;
}

/* line 40, ../sass/screen.scss */
body {
  background: #efefef;
  overflow-x: hidden;
}

/* line 45, ../sass/screen.scss */
.x {
  overflow-y: hidden;
}

/* line 49, ../sass/screen.scss */
#bt {
  width: 100vw;
  height: 40px;
  background: #efefef;
  position: fixed;
  z-index: 100;
  top: 0;
}

/* line 58, ../sass/screen.scss */
#bb {
  width: 100vw;
  height: 40px;
  background: #efefef;
  position: fixed;
  z-index: 100;
  bottom: 0;
}

/* line 67, ../sass/screen.scss */
#bl {
  height: 100vh;
  width: 40px;
  background: #efefef;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}

/* line 77, ../sass/screen.scss */
#br {
  height: 100vh;
  width: 100vw;
  background: #333333;
  position: fixed;
  z-index: 100;
  right: -100vw;
  top: 0;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

/* line 89, ../sass/screen.scss */
#phone {
  background-image: url("../assets/img/flatphone.png");
  background-size: contain;
  height: 601px;
  width: 300px;
  position: absolute;
  z-index: 110;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 103, ../sass/screen.scss */
.shut {
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -ms-transform: translate(-100vw, 0);
  /* IE 9 */
  -webkit-transform: translate(-100vw, 0);
  /* Safari */
  transform: translate(-100vw, 0);
}

/* line 111, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 115, ../sass/screen.scss */
#chat {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/img/dots.png");
  background-size: cover;
  overflow-y: hidden;
}

/* line 123, ../sass/screen.scss */
#back {
  height: 50px;
  position: absolute;
  top: 50px;
  left: 35px;
  cursor: pointer;
}

/* line 131, ../sass/screen.scss */
#content-wrapper {
  display: table;
  height: 100vh;
  width: 100vw;
  font-family: 'myriad';
  position: relative;
  z-index: 10;
  overflow-y: hidden;
}

/* line 141, ../sass/screen.scss */
#side {
  display: table;
  width: 55vh;
  position: relative;
  z-index: 110;
}

/* line 148, ../sass/screen.scss */
#logo {
  width: 175px;
  margin: 70px;
  position: absolute;
}

/* line 154, ../sass/screen.scss */
#camera {
  position: relative;
  margin-bottom: 40px;
}

/* line 159, ../sass/screen.scss */
#learn-more {
  display: table-cell;
  vertical-align: middle;
  padding-top: 42vh;
  height: 100vh;
}

/* line 166, ../sass/screen.scss */
.lt {
  font-family: 'avenir';
  font-size: 2em;
  width: 122%;
  margin-left: 80px;
  color: #efefef;
}

/* line 174, ../sass/screen.scss */
.blur {
  background-image: url("../assets/img/cancer.jpg");
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* line 189, ../sass/screen.scss */
.angle {
  height: 100vh;
  width: 200vw;
  background: #333333;
  position: absolute;
  top: 50vh;
  z-index: 1;
  transform: rotate(8deg);
  left: -50vw;
}

/* line 200, ../sass/screen.scss */
.inv {
  display: block;
  margin: 38px auto 0;
  background: transparent;
  border: 2px solid #efefef;
  color: #efefef;
  padding: 10px 20px;
  font-size: 1.2em;
  z-index: 200;
  position: relative;
}
/* line 210, ../sass/screen.scss */
.inv:focus {
  outline: none;
}

/* line 215, ../sass/screen.scss */
.inv.two {
  margin: 50px auto;
  color: #333333;
  border-color: #333333;
  font-family: 'myriad';
}

/* line 222, ../sass/screen.scss */
.slider {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 226, ../sass/screen.scss */
.slider img {
  height: 500px;
}

/* line 232, ../sass/screen.scss */
#how {
  margin-top: 300px;
}
/* line 234, ../sass/screen.scss */
#how img {
  width: 100%;
}

/* line 239, ../sass/screen.scss */
#recent {
  font: bold 2em/1.5em 'avenir';
  padding-top: 300px;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}
/* line 245, ../sass/screen.scss */
#recent h2 {
  position: absolute;
  left: 4%;
  font-size: 2em;
}
/* line 250, ../sass/screen.scss */
#recent img {
  width: 100%;
}

/* line 255, ../sass/screen.scss */
.swiper-container {
  width: 1000px;
  height: 600px;
}

/* line 260, ../sass/screen.scss */
.swiper-pagination-bullet {
  height: 50px;
  border-radius: 0;
  background: transparent;
  opacity: 1;
  width: auto;
  font: bold 'avenir';
}

/* line 269, ../sass/screen.scss */
.swiper-container-vertical > .swiper-pagination-bullets {
  left: 10px;
  margin: -5px;
  width: 21%;
  text-align: left;
}
/* line 274, ../sass/screen.scss */
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #ea0e84 50%, rgba(0, 0, 0, 0) 50%);
  background-position: right;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}
/* line 280, ../sass/screen.scss */
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet:hover {
  background-position: left;
}
/* line 284, ../sass/screen.scss */
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
  background-position: left;
  text-decoration: underline;
}

/* line 292, ../sass/screen.scss */
.swiper-container {
  padding-left: 80px;
}

/* line 296, ../sass/screen.scss */
.angle2 {
  height: 80vh;
  width: 200vw;
  background: rgba(201, 233, 225, 0.8);
  position: absolute;
  top: 160vh;
  z-index: 1;
  transform: rotate(-8deg);
  left: -50vw;
}
