/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'myriad';
  src: url("../assets/font/MyriadPro-Regular.otf");
}
/* line 25, ../sass/screen.scss */
body {
  background: #efefef;
  overflow-x: hidden;
}

/* line 30, ../sass/screen.scss */
.x {
  overflow-y: hidden;
}

/* line 34, ../sass/screen.scss */
#bt {
  width: 100vw;
  height: 40px;
  background: #efefef;
  position: fixed;
  z-index: 100;
  top: 0;
}

/* line 43, ../sass/screen.scss */
#bb {
  width: 100vw;
  height: 40px;
  background: #efefef;
  position: fixed;
  z-index: 100;
  bottom: 0;
}

/* line 52, ../sass/screen.scss */
#bl {
  height: 100vh;
  width: 40px;
  background: #efefef;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}

/* line 62, ../sass/screen.scss */
#br {
  height: 100vh;
  width: 100vw;
  background: #333333;
  position: fixed;
  z-index: 100;
  right: -100vw;
  top: 0;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

/* line 74, ../sass/screen.scss */
#phone {
  background-image: url("../assets/img/flatphone.png");
  background-size: contain;
  height: 601px;
  width: 300px;
  position: absolute;
  z-index: 110;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 88, ../sass/screen.scss */
.shut {
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -ms-transform: translate(-100vw, 0);
  /* IE 9 */
  -webkit-transform: translate(-100vw, 0);
  /* Safari */
  transform: translate(-100vw, 0);
}

/* line 96, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 100, ../sass/screen.scss */
#chat {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/img/dots.png");
  background-size: cover;
  overflow-y: hidden;
}

/* line 108, ../sass/screen.scss */
#back {
  height: 50px;
  position: absolute;
  top: 50px;
  left: 35px;
  cursor: pointer;
}

/* line 116, ../sass/screen.scss */
#content-wrapper {
  display: table;
  height: 100vh;
  width: 100vw;
  font-family: 'myriad';
  position: relative;
  z-index: 10;
}

/* line 125, ../sass/screen.scss */
#side {
  display: table;
  width: 55vh;
  position: relative;
  z-index: 110;
}

/* line 132, ../sass/screen.scss */
#logo {
  width: 175px;
  margin: 70px;
  position: absolute;
}

/* line 138, ../sass/screen.scss */
#camera {
  position: relative;
  margin-bottom: 10px;
}

/* line 143, ../sass/screen.scss */
#learn-more {
  display: table-cell;
  vertical-align: middle;
  padding-top: 42vh;
  height: 100vh;
}

/* line 150, ../sass/screen.scss */
.lt {
  font-size: 2em;
  width: 122%;
  margin-left: 80px;
  color: #efefef;
}

/* line 157, ../sass/screen.scss */
.blur {
  background-image: url("../assets/img/cancer.jpg");
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* line 172, ../sass/screen.scss */
.angle {
  height: 75vh;
  width: 200vw;
  background: #333333;
  position: absolute;
  top: 50vh;
  z-index: 1;
  transform: rotate(8deg);
  left: -50vw;
}

/* line 184, ../sass/screen.scss */
.inv {
  display: block;
  margin: 38px auto 0;
  background: transparent;
  border: 2px solid #efefef;
  color: #efefef;
  padding: 10px 20px;
  font-size: 1.2em;
  z-index: 200;
  position: relative;
}
/* line 194, ../sass/screen.scss */
.inv:focus {
  outline: none;
}

/* line 199, ../sass/screen.scss */
.slider {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 203, ../sass/screen.scss */
.slider img {
  height: 600px;
}

/* line 209, ../sass/screen.scss */
#how {
  margin-top: 400px;
}
/* line 211, ../sass/screen.scss */
#how img {
  width: 100%;
}

/* line 216, ../sass/screen.scss */
#recent {
  padding-top: 300px;
}

/* line 220, ../sass/screen.scss */
.swiper-container {
  width: 800px;
  height: 350px;
}

/* line 225, ../sass/screen.scss */
.swiper-pagination-bullet {
  width: 50px;
  height: 50px;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}
